In [33]:
import pandas as pd
import numpy as np
import pickle

In [37]:
# Data from https://www.theatlas.com/charts/HJrdxDNKW
got_data = pd.read_csv('got_data/got_screentime.csv')
got_data.head()

            Character  Minutes
0            Jon Snow      338
1    Tyrion Lannister      337
2  Daenerys Targaryen      276
3         Sansa Stark      239
4    Cersei Lannister      236

In [38]:
# Got the 8.3 Cast list from http://time.com/5542922/game-of-thrones-season-8-battle-of-winterfell/
# Checking the data lines up
x = got_data['Character'].values
cast = ['Jon Snow','Daenerys Targaryen','Tyrion Lannister','Sansa Stark','Arya Stark',
       'Bran Stark','Theon Greyjoy','Brienne of Tarth','Jaime Lannister','Podrick Payne',
       'Gendry','Tormund','Davos Seaworth','Melisandre','Grey Worm','Missandei',
       'Eddison Tollett','Samwell Tarly','Gilly','Varys','Jorah Mormont','Lyanna Mormont',
       'Sandor Clegane','Beric Dondarrion','The Night King']
for person in cast:
    if person not in x:
        print(person)

In [39]:
def is_dead(row):
    if '*' in row['Character']:
        return True
    else:
        return False
    
def is_in_battle_of_winterfell(row):
    cast = ['Jon Snow','Daenerys Targaryen','Tyrion Lannister','Sansa Stark','Arya Stark',
           'Bran Stark','Theon Greyjoy','Brienne of Tarth','Jaime Lannister','Podrick Payne',
           'Gendry','Tormund','Davos Seaworth','Melisandre','Grey Worm','Missandei',
           'Eddison Tollett','Samwell Tarly','Gilly','Varys','Jorah Mormont','Lyanna Mormont',
           'Sandor Clegane','Beric Dondarrion','The Night King']
    if row['Character'] in cast:
        return True
    else:
        return False
    
got_data['Dead'] = got_data.apply (lambda row: is_dead(row), axis=1)
got_data['8.3'] = got_data.apply (lambda row: is_in_battle_of_winterfell(row), axis=1)
got_data.head()

            Character  Minutes   Dead    8.3
0            Jon Snow      338  False   True
1    Tyrion Lannister      337  False   True
2  Daenerys Targaryen      276  False   True
3         Sansa Stark      239  False   True
4    Cersei Lannister      236  False  False

In [40]:
dead_people = got_data[got_data.Dead == True]
dead_people.head()

           Character  Minutes  Dead    8.3
10    Petyr Baelish*      119  True  False
12        Ned Stark*      100  True  False
17    Catelyn Stark*       83  True  False
18  Tywin Lannister*       78  True  False
19  Margaery Tyrell*       78  True  False

In [35]:
with open('got_data/death_dict.pickle', 'rb') as handle:
    death_dict = pickle.load(handle)

In [36]:
dead_x = dead_people['Character']

KeyError: 'sdf'